---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialStack from "../components/SocialStack.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<Layout
  title="Juan Portfolio - Web Developer with 4 years of experience"
  description="Hire Juan as your web developer, specialized in creating quality applications."
>
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/1425140?v=4"
        alt="Juan"
      />

      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Juan
        <!-- <div class="flex justify-center items-center"> -->
        <a
          href="https://www.linkedin.com/in/juan-castro-6398a9103/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
        <!-- </div> -->
      </h1>
      <div class="text-2xl opacity-80 text-wrap">
        <span>+4 años de experiencia.</span><span class="text-yellow-200/90">
          Desarrollador Web.</span
        >
        <span class="text-red-200/90"> De Lima, Peru 🇵🇪.</span><span
          class="opacity-75"
        >
          Especializado en crear soluciones de calidad.</span
        >
      </div>

      <nav class="flex gap-x-4 mt-8">
        <SocialStack href="https://www.linkedin.com/in/juan-castro-6398a9103/">
          <LinkedInIcon class="size-6" />
          Linkedin
        </SocialStack>
        <SocialStack href="https://github.com/juanxc">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialStack>
        <SocialStack href="https://github.com/juanxc">
          <MailIcon class="size-6" />
          jnxcastro@gmail.com
        </SocialStack>
      </nav>
    </section>
  </main>
</Layout>
